<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-12'>
            <h1>My Bank</h1>
            <h2>No of Accounts: <%=no_of_accounts %></h2>
            <h2>No of Clients: <%=no_of_clients %></h2>
            <%= link_to 'Bank Accounts', bank_accounts_path %>
        </div>
    </div>
</div>